
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.container {
  width: 100vw;
  height: 270px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #000000;
  color: #FFFFFF;
}

h2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  padding-bottom: 12px;
  text-align: center;
}

button {
  width: 535px;
  height: 53px;
  background-color: #8BBF40;
  border-radius: 30px;
  border: none;
}

button a {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17.5635px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
}

button:hover {
  background-color: #a5df54;
  border: 2px solid #FFFFFF;
}

.container-midias-cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}
 .midias ul li a img {
  width: 50px;
  animation: slide 1s;
}

.midias ul li a img:hover {
  animation: slide 1s linear infinite;
}

.cartoes ul li img {
  width: 70px;
}

.cartoes h2 {
  text-align: center;
  padding: 12px;
}

@keyframes slide {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  40% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  
  80% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}